@page "/Edit/{Id}"
@using SIPControl.Models
@using SIPControl.Shared
@using SIPControl.Shared.Data

@inject IDeviceStore Store
@inject IPhoneClientFactory PhoneClientFactory

<h3>Edit</h3>
<Row>
    <Column ColumnSize="ColumnSize.Is1">
        <p>Copy from </p>
    </Column>
    <Column ColumnSize="ColumnSize.Is3">
        <Select TValue="string" @bind-SelectedValue="_copyPhoneIp">
            @{
                var result = _deviceList;
                if (result is not null)
                {
                    foreach (var phoneDto in result)
                    {
                        <SelectItem TValue="string"
                                    Value="phoneDto.IpAddress">@phoneDto.Name - @phoneDto.IpAddress</SelectItem>
                    }
                }
            }
        </Select>
    </Column>
    <Column ColumnSize="ColumnSize.Is1">
        <Button Clicked="PasteConfig">Paste</Button>
    </Column>
</Row>


@if (Extensions is null)
{
    <p>Loading data...</p>
}
else
{
    <Table Striped Responsive>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>Key</TableHeaderCell>
                <TableHeaderCell>Type</TableHeaderCell>
                <TableHeaderCell>Value</TableHeaderCell>
                <TableHeaderCell>Label</TableHeaderCell>
                <TableHeaderCell>Line</TableHeaderCell>
                <TableHeaderCell>Extension</TableHeaderCell>
            </TableRow>
        </TableHeader>

        <TableBody>
            @foreach (var key in Extensions)
            {
                <TableRow>
                    <!-- KeyName (editable) -->
                    <TableRowCell>
                        @key.KeyName
                    </TableRowCell>

                    <!-- Type (dropdown bound to key.Type) -->
                    <TableRowCell>
                        <Select TValue="string" @bind-SelectedValue="key.Type">
                            @if (_keyTypes is not null)
                            {
                                @foreach (var type in _keyTypes)
                                {
                                    <SelectItem Value="@type.Id">@type.Name</SelectItem>
                                }
                            }
                        </Select>
                    </TableRowCell>

                    <!-- Value -->
                    <TableRowCell>
                        <TextEdit @bind-Text="key.Value"/>
                    </TableRowCell>

                    <!-- Label -->
                    <TableRowCell>
                        <TextEdit @bind-Text="key.Label"/>
                    </TableRowCell>

                    <!-- LineIndex-->
                    <TableRowCell>
                        <Select TValue="string" @bind-SelectedValue="@key.LineIndex">
                            @if (_keyTypes is not null)
                            {
                                @for (var index = 0; index < _lineTypes.Count; index++)
                                {
                                    var type = _lineTypes[index];
                                    var value = type[index.ToString()];
                                    <SelectItem Value="@index.ToString()">@value</SelectItem>
                                }
                            }
                        </Select>
                    </TableRowCell>

                    <!-- ExtensionCode -->
                    <TableRowCell>
                        <TextEdit @bind-Text="key.ExtensionCode"/>
                    </TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>

    <div class="mt-4">
        <Button Color="Color.Primary" Clicked="OnSave">Save</Button>
    </div>
}

@code {
    [Parameter] public string Id { get; set; } = default!;

    private Dictionary<int, ExpKey> _originalByIndex = new();
    public List<ExtensionKeyDto>? Extensions { get; set; }

    // Provided by your API: a list of available key types to populate the dropdown
    private List<DssKeyType>? _keyTypes;
    private List<Dictionary<string, string>>? _lineTypes;
    private string? _copyPhoneIp;
    private IReadOnlyCollection<PhoneDto>? _deviceList;

    private PhoneClient _phoneClient;


    protected override async Task OnInitializedAsync()
    {
        // Load device context
        var dto = await Store.GetAsync(Id);

        _phoneClient = await PhoneClientFactory.CreateAsync(dto.IpAddress);
        var extensions = (await _phoneClient.GetExtensionsAsync()).Data;

        _keyTypes = extensions.DssKeyTypeList;
        _lineTypes = extensions.LineList;

        var keys = extensions.DssKeyData.ExpKeys;
        _originalByIndex = keys.ToDictionary(k => k.Index);
        Extensions = keys
            .Select(k => new ExtensionKeyDto
            {
                Index = k.Index,
                KeyName = k.KeyName,
                ExtensionCode = k.Extension,
                LineIndex = k.Line,
                Value = k.Value,
                Label = k.Label,
                Type = k.Type
            })
            .ToList();
    }

    protected override async Task OnParametersSetAsync()
    {
        await GetDeviceList();
    }

    private async Task GetDeviceList()
    {
        _deviceList ??= await Store.GetAllAsync();
    }

    private async Task OnSave()
    {
        //var copyPhone = await PhoneClientFactory.CreateAsync(_copyPhoneIp);
        if (Extensions is null) return;
        var payload = Extensions.Select(ToExpKey).ToList();
        await _phoneClient.PostConfigUpdate(payload);
    }

    private async Task PasteConfig()
    {
        if (_copyPhoneIp is null) return;
        var phoneClient = await PhoneClientFactory.CreateAsync(_copyPhoneIp);

        var extensions = (await phoneClient.GetExtensionsAsync()).Data;

        var keys = extensions.DssKeyData.ExpKeys;
        Extensions = keys
            .Select(k => new ExtensionKeyDto
            {
                Index = k.Index,
                KeyName = k.KeyName,
                ExtensionCode = k.Extension,
                LineIndex = k.Line,
                Value = k.Value,
                Label = k.Label,
                Type = k.Type
            })
            .ToList();
        StateHasChanged();
    }

    private ExpKey ToExpKey(ExtensionKeyDto d)
    {
        var orig = _originalByIndex[d.Index];

        return new ExpKey
        {
            Index = orig.Index,
            Id = orig.Id,
            KeyName = d.KeyName.Trim(),
            Type = d.Type.Trim(),
            Line = d.LineIndex.Trim(),
            Value = d.Value.Trim(),
            Extension = d.ExtensionCode.Trim(),
            Label = d.Label.Trim()
        };
    }
}
